.search {
  text-align: center;
  background-color: rgb(160, 158, 158);
}

.row {
  display: flex;
}

.facets {
  flex-grow: 1;
  background-color: rgb(136, 136, 136);
}
.products {
  flex-grow: 25;
  display: flex;
  flex-wrap: wrap;
  border-style: solid!;
  border: 2px!;
  background-color: rgb(192, 192, 192);
}

.facet  {
  min-width: 5rem;
  padding: 3px;
}

.facet-body {
  display: flex;
}

.facet-name {
  margin: 0px;
}
.facet-amount {
  margin: 0px;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.5);
}
.facet-open {
  margin: 2px;
  font-size: smaller;
  font-weight: bold;
}

.thumbnail {
  border-radius: 40%;
  padding: 5px;
  width: 150px;
}

.product {
  margin: 5px;
  border: 1px solid black;
  background-color: rgb(226, 220, 220);
}
.product > p {
  text-align: center;
  margin: 1px;
}

.facet-options {
  display: block;
  max-height: max-content;
}

.facet-option {
  margin: 0px;
  cursor: pointer;
}

.flex {
  display: flex;
  margin-left: 1rem;
}